{% extends "base_revamp.html"  %}

{% block name %}
    <p style="margin: 0;">Dear {{ data.first_name |default:"User" }},</p>
{% endblock %}

{% block content %}
    <div style="font-family:Poppins, Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;text-align:left;color:#000000;">
        <p style="margin: 0;">We are pleased to inform you that your profile has been created
        on our "Law Sphere" Portal and your login Credentials are mentioned below:</p>
        <p style="margin-top: 20px;">Username: <strong>{{data.email}}</strong></p>
        <p style="margin-top: 10px;">Password: {{password}}</p>
    </div>
{% endblock %}
{% block court %}
    <div style="font-family:Poppins, Helvetica, Arial, sans-serif;font-size:16px;line-height:16px;text-align:left;color:#000000;">
        <p style="margin-top: 20px;">Name: {{first_name}}</p>
        <p style="margin-top: 5px;">Mobile No: {{mobile}}</p>
    </div>
{% endblock %}
