{% extends "email/base_revamp.html"  %}

{% block name %}
    <p style="margin: 0;">Dear {{ first_name |default:"User" }},</p>
{% endblock %}

{% block content %}
    <p>
        If you've forgotten your Grievance Management password, we're here to help. Simply click the link below to reset your
        password and regain access to your account:<br>
        <a href="{{ url }}{{ code }} ">{{ url }}{{ code }}</a><br/>
        <br/>
        If the above link does not work, please copy and paste it into your browser.<br/>
        <br/>
        If you didn't forget your password, you can ignore this email. Your password will remain unchanged,
        and you can continue using your account as usual.<br/>
        <br/>
        Thank you for choosing Law Sphere.
    </p>
{% endblock %}
